{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="company_name" name="company_name" placeholder="Company Name" type="text">
        </div>
        <div class="mb-3">
            <label for="logo">Company Logo:</label>
            <input type="file" name="logo">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
